node_modules
src
public
examples
build
packages
# yarn.lock should be ignored -> https://github.com/yarnpkg/yarn/issues/5406
yarn.lock
.editorconfig
CHANGELOG.md
.eslintrc.js
.eslintignore

# GitHub pages
CNAME
_config.yml