.box {
  height: 400px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

#list {
  height: 100%;
  padding: 0 20px;
  overflow-y: auto;
}

#search {
  width: 400px;
  height: 28px;
  padding: 0 12px;
  margin: 0 0 10px;
  font-size: 12px;
  box-sizing: border-box;
}

#popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  background-color: transparent;
  z-index: 9999;
}

.content {
  position: absolute;
  width: 300px;
  height: 500px;
  background-color: #333;
}

p {
  font-size: 12px;
  color: #333;
}