.tree-node {
  height: 26px;
  cursor: pointer;
  color: #606266;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tree-node:hover {
  background-color: #eee;
}

.expand,
.expand-empty {
  width: 14px;
  height: 14px;
  line-height: 10px;
  display: inline-block;
  margin-right: 8px;
  color: #bbb;
  text-align: center;
  box-sizing: border-box;
}

.expand {
  border: 1px solid #bbb;
  cursor: pointer;
}

.expand-true {
  color: #bbb;
  /* transform: rotate(90deg); */
}

.selected {
  background-color: #eee;
}

.half-checked .expand {
  background-color: #2a8ae2;
}

.vs-checkbox {
  position: relative;
  color: #606266;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  margin-right: 8px;
  vertical-align: middle;
}

.vs-checkbox__input {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
}

.vs-checkbox__inner {
  display: inline-block;
  position: relative;
  border: 1px solid #DCDFE6;
  border-radius: 2px;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background-color: #FFFFFF;
  z-index: 1;
  transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46), background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
}

.is-indeterminate .vs-checkbox__inner {
  background-color: #1989fa;
  border-color: #1989fa;
}

.is-indeterminate .vs-checkbox__inner::before {
  content: '';
  position: absolute;
  display: block;
  background-color: #FFFFFF;
  height: 2px;
  transform: scale(0.5);
  left: 0;
  right: 0;
  top: 5px;
}

.vs-checkbox__original:checked ~ .vs-checkbox__inner {
  background-color: #1989fa;
  border-color: #1989fa;
}

.vs-checkbox__original:checked ~ .vs-checkbox__inner::after {
  transform: rotate(45deg) scaleY(1);
}

.vs-checkbox__inner::after {
  box-sizing: content-box;
  content: "";
  border: 1px solid #FFFFFF;
  border-left: 0;
  border-top: 0;
  height: 7px;
  left: 4px;
  position: absolute;
  top: 1px;
  transform: rotate(45deg) scaleY(0);
  width: 3px;
  transition: transform .15s ease-in .05s;
  transform-origin: center;
}

.vs-checkbox__original {
  opacity: 0;
  outline: none;
  position: absolute;
  margin: 0;
  width: 0;
  height: 0;
  z-index: -1;
}